body {
	overflow: visible;
}

/* .navigation-menu {
	height: 45px;
	background: #353a94;
	color: #ffffff;
	border-radius: 0 0 10px 10px;
}

.navigation-menu ul {
	margin: 10px;
}

.navigation-menu li {
	list-style: none;
	display: inline;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.navigation-menu li:hover {
	background-color: #575cad;
} */








/* Что бы не мешало */


















.ib {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.dn {
	display: none;
}

.is {
	box-shadow:inset 0 0 5px #181818;
	-moz-box-shadow:inset 0 0 5px #181818;
}

.n-m-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.50;
}

.n-m-bg-0 {
	background: url("../img/n-m-bg-0.jpg") repeat scroll center center / cover  transparent;
}

/* .corner {
	border-bottom: 14px solid #ffffff;
	border-left: 14px solid transparent;
	border-top: 14px solid #ffffff;
	height: 0;
	margin: -24px 0 0 223px;
	position: absolute;
	width: 0;
} */

/* .n-m-level-1 a:hover, .n-m-level-1 ul a:visited {
	margin: 0 0 0 12px;
} */

















/* Что бы не мешало */














#hide-all-series {
	margin: 0 30px;
	font-size: 16px;
	color: yellow;
	cursor: pointer;
}

#hide-all-series:hover {

}

.legend {
	position: absolute;
	right: 0;
	top: 60px;
	width: 400px;
	right: -400px;
	display: none;
}

.legend .tail,
.legend .legend-body {
	background: rgb(61, 106, 162);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.legend .legend-body {
	padding: 0.5em;
	color: #cecece;
}

.legend .tail {
	width: 30px;
	height: 81px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: -30px;
	color: #ffffff;
}
.legend li a {
	color: #ffffff;
	cursor: pointer;
}

.btn-group {
	margin: 0 30%;
}


.header {
	height: 100px;
	background: #dedede;
}

.buttons {
	display: none;
	margin: 0 auto;
	text-align: center;
}

.content {
	min-height: 500px;
}

.footer {
	height: 50px;
	background: #cecece;
}