body {
			overflow: hidden;
		}

#hide-all-series {
	font-size: 16px;
	color: yellow;
	cursor: pointer;
}
 .legend-navigation {
 	margin-left: 20px;
 	color: yellow;
	cursor: pointer;
 }
 .legend-navigation p {
    padding: 0;
    margin: 0;
 }

.legend-navigation input {
	float: left;
}

.navigation-menu {
	height: 45px;
	padding: 1px;
	background: #353a94;
	color: #ffffff;
	border-radius: 0 0 10px 10px;
}

.navigation-menu ul {
	margin: 10px;
}


.navigation-menu li {
	list-style: none;
	display: inline;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
}


.navigation-menu li:hover {
	background-color: #575cad;
}

.legend {
			position: absolute;
			right: 0;
			top: 60px;
			width: 400px;
			right: -400px;
			display: none;
		}

		.legend .tail,
		.legend .legend-body {
			background: rgb(61, 106, 162);
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		.legend .legend-body {
			padding: 0.5em;
			color: #cecece;
		}

		.legend .tail {
			width: 30px;
			height: 81px;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			left: -30px;
			color: #ffffff;
		}
.legend li a {
	color: #ffffff;
	cursor: pointer;
}

.btn-group {
	margin: 0 30%;
}


.header {
	height: 100px;
	background: #dedede;
}

.buttons {
	display: none;
	margin: 0 auto;
	text-align: center;
}

.content {
	min-height: 500px;
}

.footer {
	height: 50px;
	background: #cecece;
}