body {
	overflow: visible;
}

/* .navigation-menu {
	height: 45px;
	background: #353a94;
	color: #ffffff;
	border-radius: 0 0 10px 10px;
}

.navigation-menu ul {
	margin: 10px;
}

.navigation-menu li {
	list-style: none;
	display: inline;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.navigation-menu li:hover {
	background-color: #575cad;
} */








/* Что бы не мешало */


















.ib {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.dn {
	display: none;
}

.is {
	box-shadow:inset 0 0 5px #181818;
	-moz-box-shadow:inset 0 0 5px #181818;
}

.n-m-activator:hover > ul {
	display: block;
	opacity: 1;
}

.n-m-activator .n-m-level-1 li:hover > ul {
	display: block;
	opacity: 1;
}

.n-m-level-1, .n-m-level-2 {
	opacity: 0.50;
	-webkit-transition: opacity 1.0s;
	-moz-transition: opacity 1.0s;
	-ms-transition: opacity 1.0s;
	-o-transition: opacity 1.0s;
	transition: opacity 1.0s;
}

.navigation-menu {
	padding: 3px;
	width: auto;
	position: relative;
}

.navigation-menu ul {
	list-style-type: none;
	list-style-image: none;
	text-align: left;
}

.navigation-menu ul a {
	color: #024c8e;
	border-radius: 0;
	display: block;
}

.navigation-menu ul a:hover {
	/*color: #4385b2;*/
	background: #024c8e;
	color: #ffffff;
}

.n-m-level-1 {
	position: absolute;
	left: 4px;
	padding: 20px;
	margin: -40px 0 0 -20px;
	background: #181818;
	width: 1300px;
}

.n-m-level-1 li {
	background: #ffffff;
	width: 249px;
	padding-right: 10px; /*fix need to delete*/
}

.n-m-level-1 > li:hover ul {
	display: block;
}

.n-m-level-1 > li:hover .corner {
	display: block;
}

.n-m-level-1 > li:hover > a {
	background: #024c8e;
	color: #ffffff;
}

.n-m-level-1 li a {
	padding: 4px 12px;
	width: 225px;
}

.n-m-level-2 {
	left: 248px !important;
	position: absolute;
	top: 20px;
	width: 77%;
	max-height: 504px;
	overflow-y: auto;
}

.n-m-level-2 li {
	overflow: hidden;
	vertical-align: top;
	width: 244px;
	height: 48px;
}

.n-m-level-2 li a {
	width: 220px;
	height: 40px;
}

.corner {
	border-bottom: 14px solid #ffffff;
	border-left: 14px solid transparent;
	border-top: 14px solid #ffffff;
	height: 0;
	margin: -24px 0 0 223px;
	position: absolute;
	width: 0;
}

/* .n-m-level-1 a:hover, .n-m-level-1 ul a:visited {
	margin: 0 0 0 12px;
} */

















/* Что бы не мешало */














#hide-all-series {
	margin: 0 30px;
	font-size: 16px;
	color: yellow;
	cursor: pointer;
}

#hide-all-series:hover {

}

.legend {
	position: absolute;
	right: 0;
	top: 60px;
	width: 400px;
	right: -400px;
	display: none;
}

.legend .tail,
.legend .legend-body {
	background: rgb(61, 106, 162);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.legend .legend-body {
	padding: 0.5em;
	color: #cecece;
}

.legend .tail {
	width: 30px;
	height: 81px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: -30px;
	color: #ffffff;
}
.legend li a {
	color: #ffffff;
	cursor: pointer;
}

.btn-group {
	margin: 0 30%;
}


.header {
	height: 100px;
	background: #dedede;
}

.buttons {
	display: none;
	margin: 0 auto;
	text-align: center;
}

.content {
	min-height: 500px;
}

.footer {
	height: 50px;
	background: #cecece;
}