.logo {
	width: 50px;
	padding: 0 10px 0 0;
}

.footer {
	padding: 20px 0;
	position: relative;
	height: 40px;
	margin: -80px 0 0 0;
	z-index: 5;
}

.wrapper {
	height: 100%;
	position: relative;
	z-index: 10;
}

.mini-graphs {
	text-align: justify;
}

.graph {
	width: 240px;
	height: 150px;
	display: inline-block;
	opacity: 1;
	transition: opacity 1.0s ease-in-out;
	-moz-transition: opacity 1.0s ease-in-out;
	-webkit-transition: opacity 1.0s ease-in-out;
}

.graph:hover {
	opacity: 0.50;
}

.graph:hover:before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 15px 15px 15px 15px;
	color: white;
	font-size: 30px;
	height: 150px;
	line-height: 1.6;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 2px #000000;
	width: 240px;
	z-index: 1;
	content: "НАЖМИТЕ ЧТОБЫ УВЕЛИЧИТЬ";
	display: block;
	cursor: pointer;
}

.comparing .graph:hover:before {
	content: "НАЖМИТЕ ЧТОБЫ ДОБАВИТЬ ДАННЫЕ";
	line-height: 1.2;
	/*cursor: alias;*/
	cursor: move;
}

.big-graph {
	height: 400px;
}

#big-graph {
	background: none repeat scroll 0 0 #F1F1F1;
	width: auto;
	border-radius: 15px;
}

.chart-options {
	position: absolute;
	z-index: 100;
	width: 97%;
	text-align: center;
	opacity: 0.25;
	margin: 20px 0 0 0;
	transition: opacity 1.0s ease-in-out;
	-moz-transition: opacity 1.0s ease-in-out;
	-webkit-transition: opacity 1.0s ease-in-out;
}

.chart-options:hover {
	opacity: 1;
}

.chart-options ul li {
	list-style-type: none;
	list-style-image: none;
	display: inline-block;
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	background-position: bottom left;
	font-size: 26px;
	color: rgba(0, 0, 0, 0.25);
	text-align: center;
	line-height: 128px;
	cursor: pointer;
	margin: 0 40px;
	opacity: 1;
	transition: color 1.0s ease-in-out, opacity 1.0s ease-in-out;
	-moz-transition: color 1.0s ease-in-out, opacity 1.0s ease-in-out;
	-webkit-transition: color 1.0s ease-in-out, opacity 1.0s ease-in-out;
}

.chart-options ul li:hover {
	color: rgba(0, 0, 0, 1);
	opacity: 0.50;
}

.chart-options ul .compare {
	background-image: url("../img/compare.png");
}

.chart-options ul .remove {
	background-image: url("../img/remove.png");
}

.chart-options ul .tohide {
	background-image: url("../img/hide.png");
}

.tip {
	left: 50%;
	margin: 0 0 0 -340px;
	position: absolute;
	text-align: center;
	top: 240px;
	width: 680px;
}

.mini-graphs .graph.disabled:hover:before {
	cursor: default;
}