extends layout

block script
	script
		graphs_data = !{JSON.stringify(graphs_data_example)};
		console.log(graphs_data);
block navigation
	.navigation-menu.navigation-menu-graph
		ul

				a(href='/index') Д
block content
	.content#container
		h2 Какой то текст
		h3 Еще какой то приветственный текст, который расскажет как пользоваться графиками, как выбрать и ваще что здесь происходит.
	.legend
		.tail


		.legend-body
			.legend-navigation
				p#hide-all-series <a>Деактивировать все графики</a>
				label Включить множественный выбор графиков
					input(type="checkbox")#switch-multi-graph

			ul

