head
		title= pageTitle
		link(rel='stylesheet', href='css/bootstrap.css', type='text/css' )
		link(rel='stylesheet', href='css/main.css', type='text/css' )
		script(src="http://code.jquery.com/jquery.js")
		script(src="js/bootstrap.js")
		script(data-main="js/main",src="js/require.js")
		script(src="http://code.highcharts.com/highcharts.js")
		script(src="http://code.highcharts.com/modules/exporting.js")
		script(src="js/jquery.easing.1.3.js")