extends layout

block navigation
	.navigation-menu
		ul
			li
				a(href='/') Графики
				a(href='/navigation') Navigation
block content
	h1= name
	h2 #{greeting}
	p в консоли — пример как работает requirejs. Файл, который подгружать первым, указывается в аттрибуте
		strong data-main
		скрипта