!!!5
html
	head
		title= pageTitle
		link(rel='stylesheet', href='css/reset.css', type='text/css' )
		link(rel='stylesheet', href='css/bootstrap.css', type='text/css' )
		link(rel='stylesheet', href='css/navigation.css', type='text/css' )
		script(src="http://code.jquery.com/jquery.js")
		script(src="js/bootstrap.js")
		script(data-main="js/main",src="js/require.js")
		script(src="http://code.highcharts.com/highcharts.js")
		script(src="http://code.highcharts.com/modules/exporting.js")
		script(src="js/jquery.easing.1.3.js")
	body
		.container-fluid
			.navigation-menu
				-if (navigation.content.length)
					mixin map_attrs(attrs)
						- each attr in attrs
							#{attr}\=attrs[attr]

					mixin map_content(content)
						- content.forEach(function(elem) {
							#{elem.tag}(class=elem.classes)
								- elem.content.forEach(function(elem) {
									#{elem.tag}(class=elem.classes, href=elem.attrs.href)
										- if (elem.content[0].tag)
											- elem.content.forEach(function(elem) {
												#{elem.tag}(class=elem.classes, href=elem.attrs.href)
													- elem.content.forEach(function(elem) {
														#{elem.tag}(class=elem.classes, href=elem.attrs.href)
															- if (elem.content[0].tag)
																- elem.content.forEach(function(elem) {
																	#{elem.tag}(class=elem.classes)
																		- elem.content.forEach(function(elem) {
																			#{elem.tag}(class=elem.classes, href=elem.attrs.href)= elem.content
																		- })
																- })
															- else
																=elem.content
													- })
											- })
										- else
											=elem.content
								- })
						- })

					- navigation.content.forEach(function(elem) {
						#{elem.tag}(class=elem.classes)
							mixin map_content(elem.content)
						//
							- elem.content.forEach(function(elem) {
								#{elem.tag}(class=elem.classes)= elem.content
							- })
					- })
		h1= name
		h2 #{testContent}
		p= navigation.description
		script
			$('.n-m-level-0 > li, .n-m-level-0 a, .n-m-level-2 li').addClass('ib');