<ul class="n-m-level-0 nav nav-pills">
	<li class="active"><a href="#">Главная</a></li>
	<li class="n-m-activator"><a href="#">Графики</a>
		<ul class="n-m-level-1 dn" role="menu">
			<li data-submenu-id="submenu-prom"><a href="#">Промисловість
			<div class="corner hide">
			</div>
			</a>
			<ul class="n-m-level-2 dn" id="submenu-prom">
				<li><a href="#">Індекси промислової продукції в Україні (2007-2013рр.)22.03.2013</a></li>
				<li><a href="#">Індекси промислової продукції (щомісячна інформація)22.03.2013</a></li>
				<li><a href="#">Індекси промислової продукції (за періоди з початку року) (щомісячна інформація)22.03.2013</a></li>
				<li><a href="#">Обсяг реалізованої промислової продукції за видами діяльності (щомісячна інформація)</a></li>
				<li><a href="#">Індекс обороту (реалізації) продукції добувної та переробної промисловості (щомісячна інформація)</a></li>
				<li><a href="#">Обсяг нових замовлень на виробництво продукції за окремими видами діяльності переробної промисловості (щомісячна інформація)</a></li>
				<li><a href="#">Виробництво основних видів промислової продукції (щомісячна інформація)22.03.2013</a></li>
				<li><a href="#">Обсяги реалізованої промислової продукції (робіт, послуг) за 2001-2011рр.</a></li>
				<li><a href="#">Виробництво основних видів промислової продукції (1990-2011рр.)</a></li>
				<li><a href="#">Індекси промислової продукції (2000-2012рр.)</a></li>
				<li><a href="#">Виробництво основних видів продукції харчової промисловості фізичними особами-підприємцями за 2010 рік</a></li>
				<li><a href="#">Методологічні пояснення</a></li>
				<li><a href="#">Виробництво та розподілення електроенергії, тепла, газу, води</a></li>
				<li><a href="#">Електробаланс (2001-2010рр.)</a></li>
				<li><a href="#">Окремі техніко-економічні показники роботи газопостачальних підприємств</a></li>
				<li><a href="#">Окремі техніко-економічні показники роботи опалювальних котелень і теплових мереж</a></li>
				<li><a href="#">Окремі техніко-економічні показники роботи водопроводів та окремих водопровідних мереж</a></li>
				<li><a href="#">Забезпеченість населених пунктів водою та газом</a></li>
			</ul>
			</li>
			<li data-submenu-id="submenu-energ"><a href="#">Енергетика
			<div class="corner hide">
			</div>
			</a>
			<ul class="n-m-level-2 dn" id="submenu-energ">
				<li><a href="#">Енергетичний баланс України</a></li>
				<li><a href="#">Використання енергетичних матеріалів та продуктів перероблення нафти15.03.2013</a></li>
				<li><a href="#">Залишки енергетичних матеріалів та продуктів перероблення нафти у споживачів та постачальників15.03.2013</a></li>
			</ul>
			</li>
			<li data-submenu-id="submenu-sils"><a href="#">Сільське господарство
			<div class="corner hide">
			</div>
			</a>
			<ul class="n-m-level-2 dn" id="submenu-sils">
				<li><a href="#">Рибне господарство (щомісячна інформація)21.03.2013</a></li>
				<li><a href="#">Рибне господарство (1995-2012рр.)</a></li>
				<li><a href="#">Методологічні пояснення</a></li>
				<li><a href="#">Індекси обсягу сільськогосподарського виробництва (щомісячна інформація)</a></li>
				<li><a href="#">Поголів\'я худоби та птиці (щомісячна інформація)</a></li>
				<li><a href="#">Виробництво основних видів продукції тваринництва (щомісячна інформація)</a></li>
				<li><a href="#">Виробництво основних сільськогосподарських культур 22.03.2013</a></li>
				<li><a href="#">Середні ціни реалізації сільськогосподарської продукції (щомісячна інформація)18.03.2013</a></li>
				<li><a href="#">Рослинництво (1990-2012рр.)22.03.2013</a></li>
				<li><a href="#">Тваринництво (1990-2011рр.)</a></li>
				<li><a href="#">Зведені показники (1990-2012рр.)</a></li>
				<li><a href="#">Методологічні пояснення</a></li>
			</ul>
			</li>
			<li><a href="#">Житловий фонд</a></li>
			<li><a href="#">Наука та інновації</a></li>
			<li><a href="#">Транспорт і зв\'язок</a></li>
			<li><a href="#">Торгівля</a></li>
			<li data-submenu-id="submenu-prices"><a href="#">Ціни і тарифи
			<div class="corner hide">
			</div>
			</a>
			<ul class="n-m-level-2 dn" id="submenu-prices">
				<li><a href="#">Індекси споживчих цін та цін виробників промислової продукції (до попереднього місяця та до грудня попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін (індекси інфляції)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги (до попереднього місяця)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги (до відповідного місяця попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги (до відповідного періоду попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги (до грудня попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги (до грудня 2010 року) (щомісячна інформація)</a></li>
				<li><a href="#">Індекси споживчих цін у 1991-2012рр. (до попереднього місяця)</a></li>
				<li><a href="#">Індекси споживчих цін у 1993-2012рр. (до відповідного періоду попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін у 1992-2012рр. (до грудня попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги у 2001-2012рр. (грудень до грудня попереднього року)</a></li>
				<li><a href="#">Індекси споживчих цін на товари та послуги у 2002-2012рр. (рік до попереднього року)</a></li>
				<li><a href="#">Вагова структура для розрахунку ІСЦ</a></li>
				<li><a href="#">Споживчий набір товарів (послуг)-представників для розрахунку ІСЦ</a></li>
				<li><a href="#">Базовий індекс споживчих цін (до попереднього місяця та грудня попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції 18.03.2013</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції (до попереднього місяця)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції (до грудня попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції (до відповідного періоду попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції (до відповідного місяця попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції (до попереднього кварталу)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції (до відповідного кварталу попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції у 1991-2012рр. (до попереднього місяця)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції у 2002-2012рр. (грудень до грудня попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників промислової продукції у 2003-2012рр. (до попереднього року)</a></li>
				<li><a href="#">Індекси цін виробників за галузями промисловості у 1991-2001рр. (грудень до грудня попереднього року)</a></li>
				<li><a href="#">Середні ціни виробників за основними видами харчових продуктів, напоїв 18.03.2013</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за типами будівель і споруд (до попереднього місяця)</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за типами будівель і споруд (до відповідного місяця попереднього року)</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за видами економічної діяльності та типами будівель і споруд (до попереднього кварталу)</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за видами економічної діяльності та типами будівель і споруд (до відповідного кварталу попереднього року)</a></li>
				<li><a href="#">Індекс цін на будівельно-монтажні роботи за типами будівель і споруд (до відповідного періоду попереднього року)</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за типами будівель і споруд (до грудня попереднього року)</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за видами економічної діяльності та типами будівель і споруд у 2004-2012рр. (до попереднього року)</a></li>
				<li><a href="#">Індекси цін на будівельно-монтажні роботи за видами економічної діяльності та типами будівель і споруд у 2003-2012рр. (грудень до грудня попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій (до попереднього місяця)</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій (до відповідного місяця попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій (до відповідного періоду попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій (до грудня попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій у 2003-2012рр. (до попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на послуги пошти та зв’язку для підприємств, установ, організацій у 2002-2012рр. (грудень до грудня попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на вантажні перевезення залізничним транспортом</a></li>
				<li><a href="#">Індекси тарифів на вантажні перевезення залізничним транспортом (до попереднього кварталу)</a></li>
				<li><a href="#">Індекси тарифів на вантажні перевезення залізничним транспортом (до відповідного кварталу попереднього року)</a></li>
				<li><a href="#">Індекс тарифів на вантажні перевезення залізничним транспортом (до відповідного періоду попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на вантажні перевезення залізничним транспортом (до IV кварталу попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на вантажні перевезення залізничним транспортом у 2002–2012рр. (IV квартал до ІV кварталу попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на вантажні перевезення залізничним транспортом у 2003–2012рр. (до попереднього року)</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами11.03.2013</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами (до попереднього кварталу) 11.03.2013</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами (до відповідного кварталу попереднього року) 11.03.2013</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами (до відповідного періоду попереднього року) 11.03.2013</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами (до IV кварталу попереднього року)11.03.2013</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами у 2003-2012рр. (IV квартал до IV кварталу попереднього року) 11.03.2013</a></li>
				<li><a href="#">Індекси тарифів на транспортування вантажів трубопроводами у 2004-2012рр. (до попереднього року)11.03.2013</a></li>
				<li><a href="#">Методологічні пояснення</a></li>
				<li><a href="#">Індекси цін реалізації сільськогосподарської продукції 18.03.2013</a></li>
				<li><a href="#">Індекси цін реалізації сільськогосподарської продукції (щомісячна інформація)18.03.2013</a></li>
				<li><a href="#">Індекси цін реалізації продукції сільського господарства сільськогосподарськими підприємствами (крім малих)(1996-2011рр.) Методологічні пояснення</a></li>
			</ul>
			</li>
			<li><a href="#">Фінанси</a></li>
			<li><a href="#">Ринок праці</a></li>
			<li><a href="#">Демографічна ситуація</a></li>
			<li><a href="#">Охорона здоров\'я</a></li>
			<li><a href="#">Освіта</a></li>
			<li><a href="#">Туризм</a></li>
			<li><a href="#">Культура</a></li>
			<li><a href="#">Навколишнє середовище</a></li>
			<li><a href="#">Правопорушення</a></li>
			<li><a href="#">Соціально-економічне становище</a></li>
		</ul>
	</li>
	<li><a href="#">О нас</a></li>
	<li><a href="#">Контакты</a></li>
</ul>